doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(src="css/style.css")
    title フロントエンドの勉強
  body
    include include/_header
    h1 タイトル
    
    ul
      - for (var i = 0; i < 5; i++) {
        li
          a(href="#")
            | リンク
      - }
